nav{
    height: 100%;
    ul{
        height: 100%;
        display: flex;

        gap: 15px;
        li{
            &:nth-child(1){
                margin-right: auto;
                font-size: 1.4rem;

            }
            a{
                color: #000;
                font-weight: 400;
            }
        }
    }
}