nav{
    height: 100%;
    ul{
        height: 100%;
        display: flex;

        gap: 15px;
        li{
            &:nth-child(1){
                margin-right: auto;

            }
            a{
                color: #000;
            }
        }
    }
}