@import './assets/sass/base/reset';
@import './assets/sass/Helpers/variables';

:root{
    font-family: 'Jost', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body{
    padding: 2em 6em;
    @media (max-width: 640px){
        padding: 2rem 3rem;
    }
}

.App{
    header{
        height: 100%;
        @import './assets/sass/layout/nav';
    }

    main{

        section{
            @import './assets/sass/pages/header';
        }
    }
}