&#projects{
    height: calc(100vh);
    // background-color: blue;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;

    .projects-text{
        font-size: 3.3rem;
    }

    .projects{
        height: 100%;
        padding:2.5rem 5rem 2rem 6rem;
        //top, right, bottom, left
        // background-color: red;
        .projects-head{
            ul{
                display: flex;
                gap: 1.3rem;
                li{
                    background-color: #fff;
                    transition-duration: 500ms;
                    padding: .3rem .7rem;
                    cursor: pointer;
                    &:hover{
                        border-radius: 6px;
                        background-color: #f1f5f9;

                    }
                }
            }
        }

        .projects-body{
            padding-top: 1rem;

            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            overflow: hidden;
            // width: 80vw;

            div{
                height: 30vh;
                width: 19rem;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                padding: .5rem;

                border: 1px solid #f1f5f9;
                border-radius: 10px;
                box-shadow: 0 5px 35px 0px rgb(0 0 0 / 5%);

                h3{
                    font-weight: 600;
                    font-size: 1.3rem;
                    a{
                        font-size: 1.2rem;
                    }
                }

                p{
                    padding: .3rem;
                    font-size: 1rem;
                    color: rgb(112, 112, 112);
                }

                span {
                    padding: .3rem;
                    font-size: .8rem;
                    font-weight: 400;
                    color: rgb(216, 213, 213);
                }
            }
        }
    }
}